body {
  color: white;
  background: #backColor# url("app://hotsResources/#backImg#.png") no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  height: 100%;
  text-align: center;
  cursor: default;
  user-select: none;
}
table {
  margin-left: auto;
  margin-right: auto;
}
tr {
  text-align: center;
}
.parentDiv {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; /* centers the div horizontally */
  box-sizing: border-box;
  border:10px; /* solid white; */
}
.headTableTd {
  padding: 5px;
}
.titleBlueTeam {
  color: deepskyblue;
  font-size: 200%;
  font-weight: bold;
  font-family: Calibri;
}
.titleRedTeam {
  color: crimson;
  font-size: 200%;
  font-weight: bold;
  font-family: Calibri;
}
.titleBlue {
  color: deepskyblue;
  font-size: 300%;
  font-weight: bold;
  font-family: Calibri;
}
.titleRed {
  color: crimson;
  font-size: 300%;
  font-weight: bold;
  font-family: Calibri;
}
.titleWhite {
  color: gainsboro;
  font-size: 300%;
  font-weight: bold;
  font-family: Calibri;
}
.teamLevel {
  color: white;
  font-size: 150%;
  font-weight: bold;
  font-family: Calibri;
}
.owner {
  text-decoration: underline;
}
.heroIcon {
    border-radius: 100%;
    width: 80px;
    height: 80px;
}
.heroIcon:hover {
  filter: brightness(125%);
}
.battleTag {
  font-size: 100%;
  font-family: Calibri;
  line-height: 250%;
}
.heroIconTeam0 {
  box-shadow: 0px 0px 4px 4px gainsboro;
}
.heroIconTeam1 {
  box-shadow: 0px 0px 4px 4px crimson;
}
.heroIconTeam2 {
  box-shadow: 0px 0px 4px 4px deepskyblue;
}
.heroIconTeam3 {
  box-shadow: 0px 0px 4px 3px green;
}
.heroIconTeam4 {
  box-shadow: 0px 0px 4px 4px goldenrod;
}
.team1 {
  color: crimson;
}
.team2 {
  color: deepskyblue;
}
.team3 {
  color: green;
}
.team4 {
  color: goldenrod;
}
.heroPortrait {
  position: relative;
  display: inline-block;
}
.heroPortrait .heroPartyIcon {
  position: absolute;
  bottom: 50px;
  right: -5px;
  width: 36px;
  height: auto;
  pointer-events: none;
}
.heroPortrait .heroAwardIcon {
  position: absolute;
  bottom: -5px;
  right: -5px;
  width: 36px;
  height: auto;
  pointer-events: none;
}
.teamHeader {
  background-color: #000000;
  font-family: Consolas, Lucida Console, Courier New;
}
.teamScoreHeader {
  background-color: black;
  font-family: Arial, sans-serif;
  font-size: 120%;
  font-weight: bold;
  padding-top: 7px;
  padding-bottom: 7px;
}
.abilityHeader {
  font-family: Arial, sans-serif;
  font-weight: bold;
}
.teamBlue {
  background-color: #17203D;
}
.teamRed {
  background-color: #300F22;
}
.tdPlayerName {
  text-align: left;
  vertical-align: center;
  font-family: Calibri;
}
.head-container {
  overflow-y: auto;
  text-align: left;
  margin: 0 auto;
  background-color: #backColor#;
  border-radius: 10px;
  padding: 20px;
}
.chat-container {
  zoom: 0.9;
  max-height: 400px;
  overflow-y: auto;
  text-align: left;
  margin: 0 auto;
  background-color: #909090;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}
.chat-message {
  font-family: Arial, sans-serif;
  font-size: 26px;
  font-weight:bold;
  color: #fff;
  text-shadow: 1px 1px 3px black;
  line-height: 1.5;
}
.chat-time {
  font-family: Courier New, Consolas, Lucida Console;
  font-size: 90%;
  color: lightgray;
  font-weight: bolder;
  vertical-align: central;
}
.chat-user {
  font-weight: bold;
}
.chat-image {
  height: 36px;
  margin-top: -5px;
  vertical-align: middle;
}
.chat-image-emoticon {
  height: 26px;
}
.translate-icon {
  display: none;
}
.chat-message:hover .translate-icon {
  display: inline-block;
}
.nonBreakingText {
  white-space: nowrap;
}
.tableScoreAndTalents {
  border-collapse: collapse;
  text-align: center;
  font-family: Calibri;
  width: 100%;
}
.tableScoreAndTalents tr {
  height: 64px;
}
.tableScoreAndTalents tr.freeHeight {
  height: auto !important;
}
.tableScoreAndTalents td:nth-child(1) {
  width: 120px;
}
.tableScoreAndTalents td:nth-child(2) {
  width: 100px;
}
.tableTalents {
  table-layout: fixed;
}
.tableScoreAndTalents .tableAbilities td:nth-child(1),
.tableScoreAndTalents .tableAbilities td:nth-child(2)
{
  width: unset;
}
.stats {
  font-family: Consolas, Lucida Console, Courier New;
  font-size: 80%;
  text-align: left;
  vertical-align: top;
}
.statsHealth {
  color: crimson;
  padding-right: 30px;
}
.statsDamage {
  color: green;
  padding-right: 30px;
}
.trAblilities {
    display: none;
}
tr.trTalents:hover {
  filter: brightness(125%);
}
tr.trTalents.highlight {
  filter: brightness(125%);
}
tr.trTalents, tr.trAblilities {
  cursor: pointer;
}
.tdBorders {
  border: 1px solid #555;
}
.tableTalents td:nth-child(n+3) {
  width: calc((100% - 220px) / 7);
}
.scoreHeaderIcon {
  width: 50px;
  height: 50px;
}
.scoreIcon {
  width: 100px;
  height: 50px;
  object-fit: cover;
}
.teamBestScore {
  text-shadow: 2px 2px 15px lightBlue, 2px -2px 15px lightBlue, -2px -2px 15px lightBlue, -2px 2px 15px lightBlue;
}
.teamBestScoreBlue {
  text-shadow: 2px 2px 15px lightBlue, 2px -2px 15px lightBlue, -2px -2px 15px lightBlue, -2px 2px 15px lightBlue;
}
.teamBestScoreRed {
  text-shadow: 2px 2px 15px #e6add8, 2px -2px 15px #e6add8, -2px -2px 15px #e6add8, -2px 2px 15px #e6add8;
}
.heroTalentIcon {
  width: 45px;
  vertical-align: baseline;
}
.tooltip {
  position: relative;
  display: inline-block;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 300px;
  background-color: #150C39;
  color: #8984C7;
  font-family: Calibri;
  text-align: left;
  border-radius: 6px;
  padding: 1em;
  position: absolute;
  z-index: 20;
  bottom: 90%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.5s;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
.tooltip .tooltiptextRight {
  left: 195%;
}
.tooltip .tooltiptextLeft {
  right: 92%;
}
.tooltip .tooltipHero {
  visibility: hidden;
  background-color: #150C39;
  color: #8984C7;
  font-family: Consolas;
  text-align: left;
  border-radius: 6px;
  padding: 1em;
  position: absolute;
  z-index: 1;
  bottom: 90%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.5s;
}
.tooltip:hover .tooltipHero {
  visibility: visible;
  opacity: 1;
}
.tooltip .tooltipHeroLeft {
  left: 75%;
}
.tooltip .tooltipHeroRight {
  right: 0%;
}
.tooltip .tooltipScoreHeaderLeft {
  left: 75%;
}
.tooltip .tooltipScoreHeaderRight {
  right: -23%;
}
.tooltip .tooltipHeroMvpScore {
  visibility: hidden;
  background-color: #150C39;
  color: #8984C7;
  font-family: Consolas;
  text-align: left;
  border-radius: 6px;
  padding: 1em;
  position: absolute;
  z-index: 1;
  right: 96px;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.5s;
  transform: translateY(-50%);
}
.tooltip:hover .tooltipHeroMvpScore {
  visibility: visible;
  opacity: 1;
}
td.tooltip-cell {
  position: relative;
  overflow: visible;
}
td.tooltip-cell > .tooltip {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}
td.tooltip-cell:hover > .tooltip .tooltipHeroMvpScore, td.tooltip-cell > .tooltip:hover .tooltipHeroMvpScore {
  visibility: visible;
  opacity: 1;
}
.imgTalentBorder {
  border: 6px solid transparent;
  border-image: url('app://hotsResources/talentsBorder.png') 6 stretch;
}
.imgTalent10Border {
  border: 6px solid transparent;
  border-image: url('app://hotsResources/talents10Border.png') 6 stretch;
}
.disconnected {
  color: Red;
  font-size: 0.75em;
}
.reconnected {
  color: Green;
  font-size: 0.75em;
}
.nobr {
  white-space: nowrap;
}
.abilityIconContainer {
  position: relative;
  width: 60px;
  height: 69px;
  display: inline-block;
}
.abilityIconBorder {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
  pointer-events: none;
  z-index: 10;
  width: auto;
  height: auto;
}
.abilityIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  height: 80%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  z-index: 5;
}
