body {
  color: white;
  background-color: #backColor#;
  text-align: center;
  cursor: default;
  user-select: none;
}
table {
  margin-left: auto;
  margin-right: auto;
}
tr {
  text-align: center;
}
.parentDiv {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; /* centers the div horizontally */
  box-sizing: border-box;
  border:10px; /* solid white; */
}
.headTableTd {
  padding: 5px;
}
.titleBlueTeam {
  color: deepskyblue;
  font-size: 200%;
  font-weight: bold;
  font-family: Calibri;
}
.titleRedTeam {
  color: crimson;
  font-size: 200%;
  font-weight: bold;
  font-family: Calibri;
}
.titleBlue {
  color: deepskyblue;
  font-size: 300%;
  font-weight: bold;
  font-family: Calibri;
}
.titleRed {
  color: crimson;
  font-size: 300%;
  font-weight: bold;
  font-family: Calibri;
}
.titleWhite {
  color: gainsboro;
  font-size: 300%;
  font-weight: bold;
  font-family: Calibri;
}
.owner {
  color: #e4b800;
  text-shadow: 0px 0px 5px crimson;
}
.heroIcon {
    border-radius: 100%;
    width: 80px;
    height: 80px;
}
.heroIcon:hover {
  filter: brightness(125%);
}
.battleTag {
  font-size: 80%;
  font-family: Calibri;
  line-height: 250%;
}
.heroIconTeam0 {
  box-shadow: 0px 0px 4px 4px gainsboro;
}
.heroIconTeam1 {
  box-shadow: 0px 0px 4px 4px crimson;
}
.heroIconTeam2 {
  box-shadow: 0px 0px 4px 4px deepskyblue;
}
.heroIconTeam3 {
  box-shadow: 0px 0px 4px 3px green;
}
.heroIconTeam4 {
  box-shadow: 0px 0px 4px 4px goldenrod;
}
.team1 {
  color: crimson;
}
.team2 {
  color: deepskyblue;
}
.team3 {
  color: green;
}
.team4 {
  color: goldenrod;
}
.heroPortrait {
  position: relative;
  display: inline-block;
}
.heroPortrait .heroPartyIcon {
  position: absolute;
  bottom: 50;
  right: -5;
  width: 36px;
  height: auto;
  pointer-events: none;
}
.heroPortrait .heroAwardIcon {
  position: absolute;
  bottom: -5;
  right: -5;
  width: 36px;
  height: auto;
  pointer-events: none;
}
.teamHeader {
  background-color: #000000;
  font-family: Consolas, Lucida Console, Courier New;
}
.teamBlue {
  background-color: #17203D;
}
.teamRed {
  background-color: #300F22;
}
.tdPlayerName {
  text-align: left;
  vertical-align: center;
  font-family: Calibri;
}
.chat-container {
  zoom: 0.9;
/*  width: 900px;*/
  max-height: 400px;
  overflow-y: auto;
  text-align: left;
  margin: 0 auto;
  background-color: #909090;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}
.chat-message {
  font-family: 'Arial', sans-serif;
  font-size: 26px;
  color: #fff;
  text-shadow: 1px 1px 3px black;
  line-height: 1.5;
}
.chat-user {
  font-weight: bold;
}
.chat-image {
  height: 36px;
  margin-top: -5px;
  vertical-align: middle;
}
.chat-image-emoticon {
  height: 26px;
}
.translate-icon
{
  display: none;
}
.chat-message:hover .translate-icon {
  display: inline-block;
}
.nonBreakingText {
  white-space: nowrap;
}
.tableScore {
  text-align: center;
  vertical-align: center;
  font-family: Calibri;
  width: 100%;
}
.scoreIcon {
  width: 100px;
  height: 50px;
  object-fit: cover;
  object-position: 100% 50;
}
.teamBestScore {
  text-shadow: 2px 2px 15px lightBlue, 2px -2px 15px lightBlue, -2px -2px 15px lightBlue, -2px 2px 15px lightBlue;
}
.teamBestScoreBlue {
  text-shadow: 2px 2px 15px lightBlue, 2px -2px 15px lightBlue, -2px -2px 15px lightBlue, -2px 2px 15px lightBlue;
}
.teamBestScoreRed {
  text-shadow: 2px 2px 15px #e6add8, 2px -2px 15px #e6add8, -2px -2px 15px #e6add8, -2px 2px 15px #e6add8;
}
.heroTalentIcon {
  width: 45px;
  vertical-align: baseline;
}
.heroTalentIcon:hover {
  filter: brightness(125%);
}
.tooltip {
  position: relative;
  display: inline-block;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 300px;
  background-color: #150C39;
  color: #8984C7;
  font-family: Calibri;
  text-align: left;
  border-radius: 6px;
  padding: 1em;
  position: absolute;
  z-index: 1;
  bottom: 90%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.5s;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
.tooltip .tooltiptextRight {
  left: 195%;
}
.tooltip .tooltiptextLeft {
  right: 92%;
}
.tooltip .tooltipHero {
  visibility: hidden;
  background-color: #150C39;
  color: #8984C7;
  font-family: Consolas;
  text-align: left;
  border-radius: 6px;
  padding: 1em;
  position: absolute;
  z-index: 1;
  bottom: 90%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.5s;
}
.tooltip:hover .tooltipHero {
  visibility: visible;
  opacity: 1;
}
.tooltip .tooltipHeroLeft {
  left: 75%;
}
.tooltip .tooltipHeroRight {
  right: 0%;
}
.imgTalentBorder
{
  border: 6px solid transparent;
  border-image: url('app://hotsResources/talentsBorder.png') 6 stretch;
}
.imgTalent10Border
{
  border: 6px solid transparent;
  border-image: url('app://hotsResources/talents10Border.png') 6 stretch;
}
.disconnected
{
  color: Red;
  font-size: 0.75em;
}
.reconnected
{
  color: Green;
  font-size: 0.75em;
}
.nobr {
    white-space: nowrap;
}